extends ../layout

block content
    a(href="/usuarios") Volver

    br
    br
    br

    h1 Nuevo Usuario

    br
    br

    form(action="/usuarios/create" method="post")
        .form-group 
            label(for="nombre") Nombre:
            input#nombre.form-control(type="text" name="nombre" value= usuario.nombre class)
            if errors.nombre
                small#nombreHelp.text-danger
                    = errors.email.message

        .form-group
            label(for="email") Email:   